<script setup lang="ts">
const props = defineProps({
  // action prop
  action: {
    type: Function,
    default() {
      return alert("default function return")
    },
  },
  variant: {
    type: String,
    validator(value: string) {
      return ["primary", "secondary", "tertiary"].includes(value)
    },
  },
})
const applyVariant = computed(() => {
  return props.variant === "primary"
    ? "bg-lyx-"
    : props.variant === "secondary"
    ? ""
    : "bg-lyx-gray-light text-lyx-black"
})
</script>
<template>
  <button
    @click.prevent="props.action"
    :class="`${applyVariant} text-lyx-white`"
  >
    <slot>Button</slot>
  </button>
</template>
