<template>
  <NuxtLink to="/" class="nav-link flex items-center gap-2 text-ash-white">
    <div class="hidden md:block">
      <Icon name="game-icons:raven" />
    </div>
    <span class="font-serif text-lg tracking-wide">Lilyx </span>
  </NuxtLink>
</template>
