<script setup>
defineProps({
  color: {
    type: String,
    default: "text-ash-gray-light",
  },
  icon: {
    type: String,
    default: "gitlab",
  },
  path: {
    type: String,
    default: "https://gitlab.com/lilyx13",
  },
  size: {
    type: String,
    default: "20",
  },
});
</script>

<template>
  <NuxtLink :to="path" target="_blank">
    <Icon :name="icon" :class="color" class="nav-link" :size="size" />
  </NuxtLink>
</template>
