<script setup lang="ts">
import { useDark, useToggle } from "@vueuse/core";
const isDark = useDark();
const toggleDark = useToggle(isDark);
</script>
<template>
  <button @click="toggleDark()">
    <Transition
      mode="out-in"
      enter-active-class="transition duration-150 ease-linear"
      leave-active-class="transition duration-150 ease-linear"
      enter-from-class="opacity-60"
      leave-to-class="opacity-60"
    >
      <div v-if="!isDark">
        <Icon
          name="toggle-off"
          size="24"
          class="text-ash-white transition duration-150 ease-linear hover:text-ash-red-light"
        />
      </div>
      <div v-else>
        <Icon
          name="toggle-on"
          size="24"
          class="text-ash-white transition duration-150 ease-linear hover:text-ash-red-light"
        />
      </div>
    </Transition>
  </button>
</template>
