<script setup lang="ts">
const currentDate = computed(() => {
  return new Date().getFullYear();
});
</script>
<template>
  <footer class="bg-ash-red">
    <div class="flex items-center justify-center gap-2 bg-ash-black py-1">
      <p class="text-ash-white">
        &copy; {{ currentDate }}
        <NuxtLink to="https://gitlab.com/lilyx13" class="text-ash-white"
          >Ashlyn Knox</NuxtLink
        >
      </p>
      <AshSocial />
    </div>
  </footer>
</template>
