<script setup>
import { onClickOutside } from "@vueuse/core";
const mobileMenu = useState("mobile-menu");
const header = ref(null);
onClickOutside(header, () => {
  if (mobileMenu.value === true) mobileMenu.value = false;
});
</script>
<template>
  <header ref="header" class="bg-ash-black py-2">
    <!-- Header Layout -->
    <div
      class="container mx-auto flex items-center justify-between gap-4 px-4 lg:gap-8"
    >
      <!-- Home Logo -->
      <AshLogo />
      <TheNav />
      <div class="z-10 flex items-center justify-center gap-2">
        <ColorModeToggle />
        <TheNavToggle />
      </div>
    </div>
  </header>
</template>
