<script setup>
const navLinks = [
  { href: "about", label: "About" },
  { href: "blog", label: "Blog" },
  { href: "lab", label: "Labs" },
];
const mobileMenu = useState("mobile-menu");
</script>

<template>
  <Transition
    enter-active-class="transition transform duration-300 ease-in"
    leave-active-class="transition transform duration-300 ease-in"
    enter-from-class="-translate-y-40"
    leave-to-class="-translate-y-40"
  >
    <nav
      v-show="mobileMenu"
      class="absolute left-0 top-10 z-50 w-full bg-ash-black text-white md:relative md:top-0 md:z-0"
    >
      <div class="container mx-auto py-6 pr-4 md:py-0 md:pr-0">
        <ul
          class="flex flex-col items-end justify-end gap-3 md:flex-row md:items-center"
        >
          <li v-for="link in navLinks" key="link.id">
            <NuxtLink
              :to="link.href"
              class="nav-link font-medium tracking-wide text-ash-white"
              >{{ link.label }}</NuxtLink
            >
          </li>
        </ul>
      </div>
    </nav>
  </Transition>
</template>
<style scoped>
@media screen and (min-width: 768px) {
  nav[style] {
    display: block !important;
  }
}
</style>
