<script setup>
const mobileMenu = useState("mobile-menu", () => false);
const toggleMobileMenu = () => (mobileMenu.value = !mobileMenu.value);
</script>
<template>
  <button class="md:hidden" @click="toggleMobileMenu()">
    <Transition
      mode="out-in"
      enter-active-class="transition transform duration-150 ease-linear"
      leave-active-class="transition transform duration-150 ease-linear"
      enter-from-class="rotate-45 opacity-0"
      leave-to-class="-rotate-45 opacity-0"
    >
      <div v-if="mobileMenu">
        <Icon name="close" class="nav-link text-ash-white" />
      </div>
      <div v-else>
        <Icon name="menu" class="nav-link text-ash-white" />
      </div>
    </Transition>
  </button>
</template>
