@import url("https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&family=Fira+Mono:wght@400;500;700&family=Fjalla+One&family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;1,600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-5xl lg:text-6xl 2xl:text-8xl;
  }
  h2 {
    @apply text-3xl lg:text-5xl 2xl:text-6xl;
  }
  h3 {
    @apply text-2xl lg:text-3xl 2xl:text-4xl;
  }
  h4 {
    @apply text-xl lg:text-2xl 2xl:text-3xl;
  }
  a {
    @apply transition duration-150 ease-in-out;
  }
  li,
  a {
    @apply text-base;
  }
}

@layer components {
  .inline-link {
    @apply italic text-ash-blue-dark underline-offset-4 hover:text-ash-blue hover:underline dark:text-ash-blue dark:hover:text-ash-blue-light;
  }
  .nav-link {
    @apply hover:text-ash-red-light active:text-ash-red;
  }
  /* animated underline */
  .link-underline {
    background-image: linear-gradient(transparent, transparent),
      linear-gradient(#5e95ff, #5e95ff);
    background-size: 0 2px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: background-size 0.3s ease-in;
  }

  .link-underline:hover {
    background-size: 100% 2px;
    background-position: 0 100%;
  }
}
