<template>
  <main>
    <header>
      <h1 class="font-display">Hello World</h1>
    </header>
    <section>
      <p class="dark:text-blue-500">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint voluptas
        itaque numquam. Sequi impedit, ullam corrupti nostrum quod odio
        similique amet quam inventore maxime accusamus minus veniam vel, error
        ad molestias, modi optio? Ad fugit dicta doloribus officia provident
        doloremque consequatur vero, dolores nulla nemo optio sunt minima
        voluptate laboriosam aperiam a reiciendis dolore fugiat quia vitae!
        Error, magnam cupiditate voluptas placeat quidem eaque reprehenderit
        nesciunt, repellat sed quam eum maiores soluta dignissimos voluptates
        quaerat tempore consequuntur odit ratione laboriosam architecto nam?
        Perspiciatis ducimus beatae ullam error numquam corrupti dicta ipsa
        rerum, perferendis vitae aliquam debitis ipsum! Dignissimos, perferendis
        modi.
      </p>
    </section>
  </main>
</template>
